<%= form_with(model: movimentode_estoque, local: true) do |form| %>
  <% if movimentode_estoque.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movimentode_estoque.errors.count, "error") %> prohibited this movimentode_estoque from being saved:</h2>

      <ul>
      <% movimentode_estoque.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :data %>
    <%= form.date_select :data %>
  </div>

  <div class="field">
    <%= form.label :quantidade %>
    <%= form.number_field :quantidade %>
  </div>

  <div class="field">
    <%= form.label :pessoa %>
    <%= form.text_field :pessoa %>
  </div>

  <div class="field">
    <%= form.label :operacao %>
    <%= form.text_field :operacao %>
  </div>

  <div class="field">
    <%= form.label :produto %>
    <%= form.text_field :produto %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
