<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @endereco.nome %>
</p>

<p>
  <strong>Cpf:</strong>
  <%= @endereco.cpf %>
</p>

<p>
  <strong>Cep:</strong>
  <%= @endereco.cep %>
</p>

<%= link_to 'Edit', edit_endereco_path(@endereco) %> |
<%= link_to 'Back', enderecos_path %>
